<main class="page-main">
  <!-- <h1 class="page-main-title">Archive</h1> -->
  <ul class="page-main-list">
    <% page.posts.each(function(post){ %>
      <%- partial('_partials/postPreview', {post: post}) %>
    <% }) %>
  </ul>
</main>
<%- partial('_partials/page-footer') %>
