<main class="page-main page-main--post">
  <%- partial('_partials/post', {post: page}) %>
</main>
<main class="page-main page-main--index">
  <% var posts = get_posts({
    orderby: 'date',
    order: -1,
    count: 0
  }); %>
  <% posts.each(function(post){ %><%- partial('_partials/postPreview', {post: post}) %><% }) %>
</main>