// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-size: @font-size--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// typography
a {
  color: @color--a;
  text-decoration: none; // TEMP
}
h1 {
  font-family: @font-family--h1;
  font-size: @font-size--h1;
  line-height: @line-height--h1;
  font-weight: @font-weight--h1;
  letter-spacing: @letter-spacing--h1;
  margin-top: @margin-top--h1;
  margin-bottom: @margin-bottom--h1;
  font-style: @font-style--h1;
  text-transform: @text-transform--h1;
}
h2 {
  font-family: @font-family--h2;
  font-size: @font-size--h2;
  line-height: @line-height--h2;
  font-weight: @font-weight--h2;
  letter-spacing: @letter-spacing--h2;
  margin-top: @margin-top--h2;
  margin-bottom: @margin-bottom--h2;
  font-style: @font-style--h2;
  text-transform: @text-transform--h2;
}
h3,
h4,
h5,
h6 {
  font-family: @font-family--headings;
  font-size: @font-size--headings;
  line-height: @line-height--headings;
  font-weight: @font-weight--headings;
  letter-spacing: @letter-spacing--headings;
}
p,
ul,
ol {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}
ol,
ul {
  list-style-type: none;
}
strong {
  font-family: @font-family--strong;
}

// layout
.container {
  width: 100%;
  .margin-center();
  padding-left: @container-gutter;
  padding-right: @container-gutter;
}
.container--wide {
  max-width: @max-width--container--wide;
  &:extend(.container);
}
.container--narrow {
  max-width: @max-width--container--narrow;
  &:extend(.container);
}
.page-header,
.page-footer,
.page-main--index {
  &:extend(.container--wide);
}
.page-main--post {
  &:extend(.container--narrow);
}

// headers and footers
.page-header {
  margin-top: @margin-top--page-header;
  margin-bottom: @margin-bottom--page-header;
}
.page-footer {
  margin-top: @margin-top--page-footer;
  margin-bottom: @margin-bottom--page-footer;
}
.page-header,
.page-footer {
  &:extend(h2);
  text-align: center;
}
.page-header-list-item,
.page-footer-list-item {
  display: inline-block;
  color: @color--page-header-list-item;
}
.page-header-list-item:not(:last-child),
.page-footer-list-item:not(:last-child) {
  padding-right: @padding-right--page-header-list-item;
}

// post components
.page-main {
  margin-top: @margin-top--page-main;
  margin-bottom: @margin-bottom--page-main;
}
.postPreview {
  margin-top: @margin-top--postPreview;
  margin-bottom: @margin-bottom--postPreview;
}
.postPreview:first-of-type,
.post:first-of-type {
  margin-top: 0;
}
.post {
  margin-top: @margin-top--post;
  margin-bottom: @margin-bottom--post;
}
.postPreview-cover,
.post-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: @background-color--post-cover;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  .box-shadow(inset 0 0 0 1px @color--post-cover-border);
}
.postPreview-cover {
  margin-bottom: @margin-bottom--postPreview-cover;
}
.post-cover {
  margin-bottom: @margin-bottom--post-cover;
}
.post-meta > * {
  display: inline-block;
  color: @color--post-meta;
  font-family: @font-family--post-meta;
  font-weight: @font-weight--post-meta;
}
.post-date:after {
  content: @content--post-date-after;
  font-family: @font-family--post-date-after;
}
.post-tag:not(:last-child):after {
  content: @content--post-tag-after;
}
.post-content ol,
.post-content ul {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.post-content > p,
.post-content > ul,
.post-content > ol {
  margin-bottom: @margin-bottom--post-content-base;
}

// responsiveness
// : small screens
@media (max-width: @width-screen-sm-max) {
  html {
    font-size: @font-size--html-sm;
  }
}
// : large screens
@media (min-width: @width-screen-lg-min) {
}

