// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  color: @color--body;
  background-color: @background-color--body;
  font-family: @font-family--body;
  font-size: @font-size--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  // display: flex; // for sticky footer
  // min-height: 100vh;
  // flex-direction: column;
}

// typography
a {
  color: @color--a;
  text-decoration: none; // TEMP
}
h1 {
  color: @color--h1;
  font-size: @font-size--h1;
  line-height: @line-height--h1;
  font-weight: @font-weight--h1;
  letter-spacing: @letter-spacing--h1;
}
h2 {
  color: @color--h2;
  font-size: @font-size--h2;
  line-height: @line-height--h2;
  font-weight: @font-weight--h2;
  letter-spacing: @letter-spacing--h2;
}
p,
ul,
ol,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}
ol,
ul {
  list-style-type: none;
}

// layout
.container {
  width: 100%;
  max-width: @max-width--container;
  .margin-center();
  padding-left: @container-gutter;
  padding-right: @container-gutter;
}

// main
.page-header,
.page-main {
  &:extend(.container);
}

// components

// responsiveness
// : small screens
@media (max-width: @width-screen-sm-max) {
  html {
    font-size: @font-size--html-sm;
  }
}
// : large screens
@media (min-width: @width-screen-lg-min) {
}

