// colors
// : variables
@color-gray-darker:   rgba(0,0,0,0.8);
@color-gray-dark:     rgba(0,0,0,0.6);
@color-gray:          rgba(0,0,0,0.4);
@color-gray-light:    rgba(0,0,0,0.2);
@color-gray-lightest: rgba(0,0,0,0.05);
@color-white:         rgb(255,255,255);
// : applications
@background-color--body:        @color-white;
@color--body:                   @color-gray-darker;
@color--a:                      inherit;
@color--h1:                     @color-gray-darker;
@color--h2:                     @color-gray-darker;
@color--post-content-list-item: @color-gray;
@background-color--post-cover:  @color-gray-lightest;
@color--post-cover-border:      @color-gray-lightest;
@color--post-meta:              @color-gray-darker;
@color--border-bottom--post:    @color-gray-light;

// sizing
@size-tera:         3;
@size-giga:         2.25;
@size-mega:         1.75;
@size-largest:      1.5;
@size-larger:       1.3333;
@size-large:        1.1667;
@size-base:         1;
@size-small:        0.9167;
@size-smaller:      0.8333;
@size-smallest:     0.75;
@size-micro:        0.6667;
@size-nano:         0.5;
@size-pico:         0.3333;
@size-em-tera:      unit(@size-tera, em);
@size-em-giga:      unit(@size-giga, em);
@size-em-mega:      unit(@size-mega, em);
@size-em-largest:   unit(@size-largest, em);
@size-em-larger:    unit(@size-larger, em);
@size-em-large:     unit(@size-large, em);
@size-em-base:      unit(@size-base, em);
@size-em-small:     unit(@size-small, em);
@size-em-smaller:   unit(@size-smaller, em);
@size-em-smallest:  unit(@size-smallest, em);
@size-em-micro:     unit(@size-micro, em);
@size-em-nano:      unit(@size-nano, em);
@size-em-pico:      unit(@size-pico, em);
@size-rem-tera:     unit(@size-tera, rem);
@size-rem-giga:     unit(@size-giga, rem);
@size-rem-mega:     unit(@size-mega, rem);
@size-rem-largest:  unit(@size-largest, rem);
@size-rem-larger:   unit(@size-larger, rem);
@size-rem-large:    unit(@size-large, rem);
@size-rem-base:     unit(@size-base, rem);
@size-rem-small:    unit(@size-small, rem);
@size-rem-smaller:  unit(@size-smaller, rem);
@size-rem-smallest: unit(@size-smallest, rem);
@size-rem-micro:    unit(@size-micro, rem);
@size-rem-nano:     unit(@size-nano, rem);
@size-rem-pico:     unit(@size-pico, rem);

// typography
// : font-size-variables
@font-size-px-base:    16px;
@font-size-px-base-md: 13.5px;
@font-size-px-base-sm: 13.5px;
// : font-size-applications
@font-size--html:              @font-size-px-base;
@font-size--html-md:           @font-size-px-base-md;
@font-size--html-sm:           @font-size-px-base-sm;
@font-size--body:              @size-rem-base;
@font-size--h1:                @size-rem-base;
@font-size--h2:                @size-rem-base;
@font-size--headings:          @size-rem-base;
@font-size--postPreview-title: @font-size--body;
// : font-family-variables
@font-family-sans-serif: "Source Sans Pro", Helvetica, sans-serif;
@font-family-serif:      Georgia, serif;
@font-family-monospace:  Consolas, monospace;
// : font-family-applications
@font-family--body:            @font-family-sans-serif;
@font-family--h1:              @font-family-sans-serif;
@font-family--h2:              @font-family-sans-serif;
@font-family--headings:        @font-family-sans-serif;
@font-family--post-meta:       @font-family-sans-serif;
@font-family--post-meta-after: @font-family-sans-serif;
@font-family--strong:          @font-family-sans-serif;
// : font-weight-variables
@font-weight-bold:      700;
@font-weight-semibold:  600;
@font-weight-normal:    400;
@font-weight-semilight: 300;
// : font-weight-applications
@font-weight--body:      @font-weight-normal;
@font-weight--h1:        @font-weight-semibold;
@font-weight--h2:        @font-weight-normal;
@font-weight--headings:  @font-weight-normal;
@font-weight--post-meta: @font-weight-normal;
// : line-height-variables
@line-height-base:  1.428;
// : line-height-applications
@line-height--body:     @line-height-base;
@line-height--h1:       @line-height-base;
@line-height--h2:       @line-height-base;
@line-height--headings: @line-height-base;
// : letter-spacing-variables
@letter-spacing-base:  0;
// : letter-spacing-applications
@letter-spacing--body:     @letter-spacing-base;
@letter-spacing--h1:       @letter-spacing-base;
@letter-spacing--h2:       @letter-spacing-base;
@letter-spacing--headings: @letter-spacing-base;
// : font-style-applications
@font-style--h1:        none;
@font-style--h2:        none;
@font-style--post-meta: italic;
// : text-transform-applications
@text-transform--h1: none;
@text-transform--h2: none;

// screen widths
@width-screen-md-min: 400px;
@width-screen-lg-min: 768px;
@width-screen-sm-max: (@width-screen-md-min - 1);
@width-screen-md-max: (@width-screen-lg-min - 1);

// layout
@width--container:     100%;
@max-width--container: 960px; // 60rem;
@container-gutter:     unit((100/9/2), %); // (@postPreview-gutter * 1.5);
@postPreview-gutter:   @size-rem-larger; // unit((100/9/4), %);

// spacing and miscellaneous
// : utility
@computed-line-height--body:     unit((unit(@font-size--body) * @line-height--body), rem);
@computed-line-height--h1:       unit((unit(@font-size--h1) * @line-height--h1), rem);
@computed-line-height--h2:       unit((unit(@font-size--h2) * @line-height--h2), rem);
@computed-line-height--headings: unit((unit(@font-size--headings) * @line-height--headings), rem);
@line-height:                    @computed-line-height--body;
// : applications
@margin-top--page-header:               (@line-height * 3);
@margin-bottom--page-header:            (@line-height * 3);
@padding-right--page-header-list-item:  @size-rem-small;
@padding-right--post-header-item:       @size-rem-nano;
@margin-top--page-index:                (@line-height * 3);
@margin-bottom--page-index:             (@line-height * 4.5);
@margin-top--page-main:                 (@line-height * 3);
@margin-bottom--page-main:              (@line-height * 3);
@margin-top--postPreview:               (@line-height * 0);
@margin-bottom--postPreview:            (@line-height * 1.5);
@margin-bottom--postPreview-cover:      (@line-height * 0.5);
@margin-bottom--post-cover:             (@line-height * 1.5);
@margin-bottom--post-header:            (@line-height * 1);
@padding-bottom--post:                  (@line-height * 3);
@margin-bottom--post-content-base:      (@line-height * 1);
@margin-top--post-meta:                 (@line-height * 1);
@padding-left--post-content-list:       2.4rem;
@width--post-content-list-item:         2.4rem;
@left--post-content-list-item:          -@width--post-content-list-item;
@margin-right--post-content-list-item:  -@width--post-content-list-item;
@padding-right--post-content-list-item: 0.6667rem;
@content--post-meta-after:              '\0020·\0020';
@content--post-tag-after:               ',';
