<header class="page-header">
  <nav class="nav">
    <ul class="page-header-list">
      <li class="page-header-list-item"><a href="<%= config.root %>"><%= __('Title') %></a></li><li class="page-header-list-item"><a href="<%= config.root %>about" class="page-header-link"><%= __('About') %></a></li>
    </ul>
  </nav>
</header>
